<div class="global-search">
  <div class="search-wrapper">
    <i class="fas fa-search search-icon"></i>
    <input
      #globalSearchInput
      type="text"
      class="search-input"
      [(ngModel)]="searchQuery"
      (input)="onSearchChange(searchQuery)"
      (keypress)="onSearchKeyPress($event)"
      [placeholder]="'GLOBAL.SEARCH_PLACEHOLDER' | translate"
    />
    @if (searchQuery) {
      <i
        class="fas fa-times clear-icon"
        (click)="searchQuery = ''"
        tabindex="0"
        role="button"
        (keydown.enter)="searchQuery = ''"
      ></i>
    }
  </div>
</div>
